*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #e40013;
  padding: 2rem;
}
.containerHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: whitesmoke;
  
}
.containerHeader a img{
  width: 152px;
  height: 80px;
  margin-top: -1.3rem;
}
.search input{
  padding: 0.5rem 0.5rem;
  outline: none;
  border-radius: 0.5rem 0 0 0.5rem;
  
}
.search button{
  padding: 0.5rem 0.5rem;
  margin-left: -4px;
  border-radius: 0 0.5rem 0.5rem 0;
  outline: none;
  

}
i{
  margin-right: 0.2rem;
}
.containerNav{
  display: flex;
  float: right;
  list-style: none;
  
}
.containerNav a{
  text-decoration: none;
  padding: 0.9rem 0.5rem;
  color: whitesmoke;
}
.containerNav a:hover{
  background-color: brown;
  border-radius: 0.3rem;
  
}